    html 
{  
    height: 100%;     
} 
body 
{  
    background: url( 'images/Backgroundproyect2.png' ) no-repeat center center;   
}

form1
{
    background: url( 'images/BackgroundMasterPage2.png' ) no-repeat center center;
}

